* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.white {
  color: white;
}

.ash {
  color: #6e7072;
}

.black {
  color: rgb(17, 17, 17);
}

.page-title {
  padding-left: 3vw;
}

.content {
  padding: 0 8vw;
  display: flex;
  justify-content: space-around;
}

.recent-scores {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: white;
  box-shadow: 2px 2px 2px rgb(17, 17, 17);
  width: 60px;
  height: 30px;
  margin-top: 15px;
}

.recent-scores button {
  margin-left: 10px;
}

ul {
  border: 2px solid rgb(17, 17, 17);
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  list-style: none;
  background-color: #c9c9c9;
  padding-left: 4px;
  height: 30px;
  align-items: center;
}

li:nth-child(odd) {
  background-color: white;
}

.add-scores {
  display: flex;
  flex-direction: column;
}

.add-scores input {
  border: 2px solid rgb(17, 17, 17);
  margin: 5px 0;
  padding: 8px 4px;
}

.add-scores button {
  margin-left: 60%;
}